<!-- file_form.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload Form</title>
</head>
<body>
    <form action="{{.Endpoint}}" method="post" enctype="multipart/form-data">
        <label for="fileName">File Name:</label>
        <input type="text" id="fileName" name="fileName" required>
        <br><br>
        <label for="file">Choose file:</label>
        <input type="file" id="file" name="file" required>
        <br><br>
        <button type="submit">Upload</button>
    </form>
</body>
</html>
